body {
   font-family: 'Helvetica', sans-serif;
   margin: 0;
   background-color: hsl(50 33% 25% / 0.15); 
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.main-wrapper {
   font-size: 1.5em;
   width: 50%;
   min-height: 100vh; /* Make the wrapper stretch from top to bottom */
   background-color: hsl(50 33% 25% / 0.25);
   padding: 20px;
   display: flex;
   flex-direction: column; /* Stack navigation, content, and footer vertically */
align-items: flex-start; /* Align content to the top */
}

nav ul, footer ul {
   font-family: 'Helvetica', 'Arial', 'Sans-Serif';
   padding: 0px;
   list-style: none;
   font-weight: bold;
   margin-bottom: 20px; /* Add some spacing between nav and content */
}

nav ul li, footer ul li {
   display: inline;
   margin-right: 20px;
}


a {
    text-decoration: none;
    color: #1016f3;
}

a.insidep {
    text-decoration: none;
    color: #1016f3;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4em;
    color: #333;
}
footer {
         margin-top: 50px; 
   width: 100%;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.right{
    text-align: right;
}

.content {
   display: flex;
   flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

.blurb {
   flex: 1; /* Expand to fill available space */
   margin-right: 20px; /* Add some spacing between blurb and image */
}

.full-width {
   flex-basis: 100%; /* Force the first paragraph to take full width */
}

.img {
   flex: 1; /* Expand to fill available space */
   display: flex;
   flex-direction: column;
   align-items: flex-end; /* Align content to the right */
   margin-top: 20px; /* Add some spacing between image and paragraph */
}


.img-container1 {
   width: 65%;
   flex: 1; /* Expand to fill available space */
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Align content to the left */
   margin-top: 50px; /* Add some spacing between image and paragraph */
   margin-right: 50px ;
      margin-bottom: 20px; 
}

.img-container2 {
   width: 35%;
   flex: 1; /* Expand to fill available space */
   display: flex;
   flex-direction: column;
  align-items: center;
   margin-top: 50px; /* Add some spacing between image and paragraph */
   margin-left: 20px;
         margin-bottom: 20px; 

} 


