body {
    margin: 60px auto;
    width: 50%;
    background-color: hsl(50 33% 25% / 0.25); 
}

container{
    background-color: green;
}
    
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-size: 1.5em;
    text-decoration: none;
    color: #1016f3;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.right{
    text-align: right;
}

/* Styling for the overall content */
.content {
    margin: 60px auto;
    width: 50%;
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items at the top */
    background-color: hsl(50 33% 25% / 0.25);
}

/* Styling for the first paragraph */
.blurb {
    font-size: 1.5em;
    flex: 1; /* Take up remaining space */
    padding-right: 50px; /* Add some spacing from the image */
}

/* Styling for the image and second paragraph */
.img {
    background-color: green;
    padding: 50px; /* Add spacing around the image */
    flex: 0; /* Don't grow, fixed width based on content */
}
