body {
   margin: 0;
   background-color: hsl(50 33% 25% / 0.25); 
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.main-wrapper {
   width: 50%;
   background-color: red;
   padding: 20px;
   display: flex;
   flex-direction: column; /* Stack navigation, content, and footer vertically */
   align-items: center; /* Center items horizontally */
}

nav ul, footer ul {
   font-family: 'Helvetica', 'Arial', 'Sans-Serif';
   padding: 0px;
   list-style: none;
   font-weight: bold;
   margin-bottom: 20px; /* Add some spacing between nav and content */
}

nav ul li, footer ul li {
   display: inline;
   margin-right: 20px;
}


a {
    font-size: 1.5em;
    text-decoration: none;
    color: #1016f3;
}

a.insidep {
    text-decoration: none;
    color: #1016f3;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.right{
    text-align: right;
}

