<!DOCTYPE html>
<html>
	<head>
		<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
		
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/research/research.html">Research</a></li>
			<li><a href="/blog/blog.html">Blog</a></li>
        		<li><a href="/others/others.html">Others</a></li>
    		</ul>
		</nav>
		<div class="container">
          {{ content }}
		</div><!-- /.container -->
		<footer>
			<hr>
    		<ul>
        		<li><a href="mailto:florian.grun@epfl.ch">email</a></li>
        		<li><a href="https://github.com/Cathelion">github.com/Cathelion</a></li>
			</ul>
		</footer>
	</body>
</html>
